{{ define "main" }}
<div class="row justify-content-center g-3">
    <div class="col-lg-10">
        <h1 class="display-3 fw-semibold mb-3">AzLink</h1>

        <p class="lead mb-0">{{ i18n "azlink.description1" }}</p>
        <p class="lead">{{ i18n "azlink.description2" }}</p>
    </div>

    {{ range .Site.Data.games.azlink }}
    <div class="col-md-5">
        <a href="{{ .url }}" class="btn btn-secondary d-block rounded-1">
            <div class="d-flex align-items-center text-start">
                <div class="flex-shrink-0 fs-3 lh-1">
                    {{ partial "icon.html" "download" }}
                </div>
                <div class="flex-grow-1 ms-3">
                    <p class="lead fs-6 mb-0">{{ .name }}</p>

                    <p class="small mb-0">{{ .info }}</p>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>
{{ end }}
