{{ define "main" }}
<div class="row gy-4">
    <div class="col-md-7 offset-md-2">
        <h1 class="display-3 fw-semibold mb-4">{{ i18n "download.title" }}</h1>

        <div class="d-flex align-items-center mb-4">
            <div class="flex-shrink-0 fs-3 lh-1 text-warning bg-warning bg-opacity-25 p-3 rounded-pill">
                {{ partial "icon.html" "lightbulb" }}
            </div>
            <p class="flex-grow-1 lead ms-3 mb-0">
                {{ i18n "download.docs" (dict "docs" (absLangURL "docs")) | markdownify }}
            </p>
        </div>

        <div class="d-flex align-items-center mb-4">
            <div class="flex-shrink-0 fs-3 lh-1 text-primary bg-primary bg-opacity-25 p-3 rounded-pill">
                {{ partial "icon.html" "discord" }}
            </div>
            <p class="flex-grow-1 lead ms-3 mb-0">
                {{ i18n "download.community" (dict "discord" (absURL "discord")) | markdownify }}
            </p>
        </div>

        <div class="d-flex align-items-center mb-4">
            <div class="flex-shrink-0 fs-3 lh-1 text-success bg-success bg-opacity-25 p-3 rounded-pill">
                {{ partial "icon.html" "emoji-heart-eyes" }}
            </div>
            <p class="flex-grow-1 lead ms-3 mb-0">
                {{ i18n "download.support" (dict "support" (absLangURL "support-us")) | markdownify }}
            </p>
        </div>

        <div class="d-flex align-items-center mb-5">
            <div class="flex-shrink-0 fs-3 lh-1 text-info bg-info bg-opacity-25 p-3 rounded-pill">
                {{ partial "icon.html" "rocket-takeoff" }}
            </div>
            <p class="flex-grow-1 lead ms-3 mb-0">
                {{ i18n "download.cloud" (dict "cloud" "[AzuriomCloud](https://azuriom.cloud/)") | markdownify }}
            </p>
        </div>

        <a href="https://github.com/Azuriom/AzuriomInstaller/releases/latest/download/AzuriomInstaller.zip" target="_blank" class="btn btn-lg btn-primary">
            {{ partial "icon.html" "download" }} <span class="azuriom-last-version"><span class="spinner-border spinner-border-sm" role="status"></span></span>
        </a>
    </div>
</div>
{{ end }}
