html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration-color: rgba(var(--bs-link-color-rgb), 0.5);
}

.content {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include media-breakpoint-down(lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.page-wrapper {
  flex: 1 0 auto;
}

.svg,
.bi {
  height: 1em;
  width: 1em;
  vertical-align: -.125em;
}

.navbar .nav-link {
  font-weight: 600;

  .svg {
    height: 1.5em;
    width: 1.5em;
    vertical-align: -.395em;
    border-radius: 3px;
  }

  .current-theme-icon:not(.active) {
    display: none;
  }
}

.bg-primary-gradient {
  background: linear-gradient(-75deg, #0096e6, #265bfb 55%, #0026e6);
}

.section-waves,
.footer-waves {
  margin-bottom: -1px;
}

.footer {
  flex-shrink: 0;
  color: #cdd1d5;
  background: #2b3035;

  .bi-heart-fill {
    color: #ff7273;
  }

  a {
    color: inherit;
    text-decoration-color: rgba(205, 209, 213, 0.5);
  }

  a:hover {
    color: #fff;
  }
}

.alert.documentation-alert {
  border: none;

  img {
    height: 4rem;
    width: 4rem;
  }
}
