.home-hero {
  color: #fff;
  background: linear-gradient(-75deg, #58c3ff 0, #004de6 55%, #003bb1 100%);

  .home-hero-inner {
    background: url('/assets/svg/waves.svg') no-repeat bottom / cover;
  }

  @include media-breakpoint-up(lg) {
    h1 {
      font-size: 3.5rem;
    }
  }

  .navbar {
    background: transparent !important;
  }

  .hero-waves {
    bottom: -1px;
    left: 0;
    right: 0;
    color: var(--bs-body-bg);
  }

  .hero-wrapper {
    padding-top: 3rem;
    min-height: calc(100vh - 5.5rem);

    img {
      margin-bottom: 10vw;
    }
  }

  .img-dark {
    display: none;
  }
}

@include color-mode(dark) {
  .home-hero {
    background: linear-gradient(-75deg, #022265 0, #003bb1 100%);
  }

  .img-light {
    display: none;
  }

  .img-dark {
    display: block;
  }
}

.home-hero .btn {
  transition: all 0.3s ease;

  &.btn-success {
    -webkit-animation: flash ease-in-out 2.5s infinite;
    animation: flash ease-in-out 2.5s infinite;
  }

  .bi {
    height: 1.1em;
    width: 1.1em;
    vertical-align: -.195em;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -.2rem, 0);
  }
}

.section-waves,
.section-waves-reversed {
  color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity));
}

.section-waves-reversed {
  margin-top: -1px;
}

.social-icons {
  a:hover svg {
    transform: translate3d(0, -.2rem, 0);
  }

  svg {
    height: 2em;
    width: 2em;
    transition: all 0.3s ease;
    color: #fff;
  }
}

.image-3d {
  transform: rotate3d(.866, .5, 0, -15deg);
  transition: transform .4s ease;

  &:hover {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes flash {
  from {
    box-shadow: 0 0 0 0 var(--bs-success);
  }
  75% {
    box-shadow: 0 0 0 10px rgba(var(--bs-success-rgb), 0);
  }
  to {
    box-shadow: 0 0 0 0 rgba(var(--bs-success-rgb), 0);
  }
}
