.markdown-content {
  hr {
    border-top: 0.3em solid var(--bs-tertiary-bg);
    margin: 1.5rem 0;
  }

  h1 {
    margin-bottom: 2.5rem;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 2rem;
  }

  img {
    background: var(--bs-tertiary-bg);
    box-sizing: content-box;
    max-width: 100%;
  }

  blockquote {
    color: #6a737d;
    border-left: .25em solid var(--bs-tertiary-bg);
    padding-left: 1em;
  }

  blockquote:first-child {
    margin-top: 0;
  }

  blockquote:last-child {
    margin-bottom: 0;
  }

  code {
    background: var(--bs-tertiary-bg);
    border-radius: 3px;
    padding: .2em .4em;
    font-size: 82%;
  }

  pre {
    background: var(--bs-tertiary-bg);
    border-radius: var(--bs-border-radius);
    padding: .75rem 1.25rem;;
  }

  pre code {
    font-size: inherit;
    color: inherit;
    background: transparent;
    padding: 0;
  }

  table {
    display: block;
    overflow: auto;
    width: 100%;
    border-spacing: 0;
  }

  table td,
  table th {
    padding: 0.5rem 1rem;
  }

  table tr {
    background: var(--bs-tertiary-bg);
    border-top: 1px solid var(--bs-secondary-bg);
  }

  table tr:nth-child(2n) {
    background: var(--bs-tertiary-bg);
  }

  td,
  th {
    padding: 0;
  }

  .heading-permalink {
    opacity: 0.75;
    margin-right: 0.2em;

    &::before {
      content: '#';
    }
  }

  h2:hover .heading-permalink,
  h3:hover .heading-permalink,
  h4:hover .heading-permalink,
  h5:hover .heading-permalink,
  h6:hover .heading-permalink {
    opacity: 1;
  }
}
