// Typography
$line-height-base: 1.6;
$headings-font-weight: 600;
$font-weight-bolder: 700;

// Colors
//$blue: #3490dc;
$blue: #034ce2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #e6cf00;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

// Navbar
$navbar-padding-y: 1rem;
$navbar-nav-link-padding-x: 1rem;
$navbar-dark-color: rgba($white, .6);

// Buttons
$btn-padding-x: 1rem;
$btn-padding-y: .55rem;
$btn-padding-x-sm: 1rem;
$btn-padding-y-sm: 0.35rem;
$btn-padding-x-lg: 1.5rem;
$btn-padding-y-lg: 0.75rem;
$btn-border-radius: 50rem;
$btn-border-radius-sm: 50rem;
$btn-border-radius-lg: 50rem;
