<blockquote class="alert alert-secondary d-flex align-items-center documentation-alert">
    <div class="flex-shrink-0">
        {{ if .Get "img" }}
        <img class="svg bg-transparent" alt="info" src="{{ absURL (.Get "img") }}">
        {{ else }}
        <div class="fs-3 lh-1 text-info border border-info border-2 p-3 rounded-pill">
            {{ partial "icon.html" "lightbulb" }}
        </div>
        {{ end }}
    </div>
    <div class="flex-grow-1 ms-3 text-body">
        {{- .Inner | markdownify -}}
    </div>
</blockquote>
