{{ define "main" }}
<div class="row justify-content-center align-items-center">
    <div class="col-md-5">
        <h1 class="display-1 fw-bold mb-4">404</h1>

        <h2 class="fw-semibold display-5 mb-4">{{ i18n "errors.notFound.title" }}</h2>

        <p class="lead mb-4">{{ i18n "errors.notFound.info" }}</p>

        <a href="{{ .Site.BaseURL | absLangURL }}" class="btn btn-lg btn-primary">
            {{ partial "icon.html" "house" }} {{ .Site.Home.Title }}
        </a>
    </div>

    <div class="col-md-4">
        <img src="{{ absURL "assets/svg/error.svg" }}" class="float-animation img-fluid" alt="Error">
    </div>
</div>
{{ end }}
