{{ define "title" }}Azuriom | {{ i18n "home.header.title" }}{{ end }}

{{ define "body" }}
<section id="home" class="home-hero">
    <header>
        {{ partial "navbar.html" . }}
    </header>

    <div class="home-hero-inner position-relative">
        <div class="container">
            <div class="hero-wrapper">
                <div class="col-md-8 mx-auto text-center mb-5">
                    <h1 class="mb-3 fw-semibold">
                        {{ i18n "home.header.title" }}
                    </h1>

                    <h2 class="lead mb-4 fs-4">
                        {{ i18n "home.header.subtitle" | markdownify }}
                    </h2>

                    <a href="{{ absLangURL "download" }}" class="btn btn-success btn-lg text-white mx-2 mb-4">
                        {{ i18n "nav.download" }} {{ partial "icon.html" "rocket-takeoff" }}
                    </a>

                    <a href="#about" class="btn btn-secondary btn-lg mx-2 mb-4">
                        {{ partial "icon.html" "plus-lg" }} {{ i18n "home.learn" }}
                    </a>

                    <ul class="list-inline social-icons text-white mb-0">
                        <li class="list-inline-item me-4">
                            <a href="https://github.com/Azuriom" target="_blank" rel="noopener noreferrer" title="GitHub" >
                                {{ partial "icon.html" "github" }}
                            </a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="https://azuriom.com/discord" target="_blank" rel="noopener noreferrer" title="Discord">
                                {{ partial "icon.html" "discord" }}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/{{ .Param "twitter" }}" target="_blank" rel="noopener noreferrer" title="Twitter">
                                {{ partial "icon.html" "twitter" }}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-7 mx-auto pb-3">
                    <img src="{{ absURL "assets/img/home_light.png" }}" alt="Azuriom" class="img-fluid rounded-3 img-light" width="1200" height="728">
                    <img src="{{ absURL "assets/img/home_dark.png" }}" alt="Azuriom" class="img-fluid rounded-3 img-dark" width="1200" height="728">
                </div>
            </div>
        </div>

        <div class="hero-waves position-absolute">
            <svg viewBox="0 0 1000 90" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M1000,53.893c-5.811,-2.777 -11.849,-5.257 -17.717,-7.315c-23.556,-8.258 -53.919,-11.928 -80.808,-7.291c-41.443,7.191 -64.629,31.319 -104.135,41.089c-34.75,8.58 -75.994,4.563 -111.713,-2.802c-69.471,-14.333 -135.695,-31.021 -212.601,-27.525c-42.156,1.91 -82.887,9.621 -120.03,20.334c-38.31,11.059 -83.684,26.458 -127.805,14.457c-37.541,-10.242 -57.081,-32.757 -91.831,-45.131c-25.977,-9.249 -59.189,-12.572 -89.752,-9.001c-15.694,1.834 -30.591,5.504 -43.608,10.563l0,48.9l1000,0l0,-36.278Z"/>
                <path opacity="0.4" d="M438.248,90c-2.421,-1.652 -4.843,-3.276 -7.235,-4.899c-57.281,-38.168 -126.211,-57.85 -194.571,-55.629c-64.8,2.137 -127.179,24.439 -180.956,60.5l382.762,0l0,0.028Z"/>
                <path opacity="0.4" d="M1000,71.314c-33.468,-27.125 -68.794,-47.564 -113.741,-40.658c-31.731,4.874 -56.619,23.28 -84.533,36.369c-36.259,16.988 -64.686,-4.706 -97.129,-19.299c-43.779,-19.661 -97.869,-14.314 -136.92,13.534c-12.077,8.633 -23.641,19.494 -35.662,28.74l467.985,0l0,-18.686Z"/>
                <path opacity="0.4" d="M1000,55.451c-6.152,-0.666 -23.544,14.253 -29.988,14.674c-20.793,1.356 -29.337,-14.373 -50.256,-10.473c-20.105,3.748 -35.599,13.315 -56.192,16.151c-7.911,1.088 -15.664,1.488 -23.289,1.324c-58.588,-1.26 -109.545,-35.852 -165.699,-47.943c-57.509,-12.383 -118.435,-1.678 -174.263,15.441c-27.043,8.287 -54.505,18.167 -82.231,25.125c-30.532,7.662 -61.384,11.78 -92.344,6.325c-41.586,-7.326 -76.393,-31.056 -114.817,-46.645c-68.105,-27.676 -140.424,-27.059 -210.921,-13.665l0,73.95l1000,0l0,-34.264Z"/>
            </svg>
        </div>
    </div>
</section>

<section id="about" class="content">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-md-6">
                <div class="d-inline-block fs-1 lh-1 text-primary bg-primary bg-opacity-25 p-4 rounded-pill">
                    {{ partial "icon.html" "plugin" }}
                </div>

                <h2 class="display-6 my-3 fw-semibold">
                    {{ i18n "home.complete.title" }}
                </h2>

                <p class="lead">
                    {{ i18n "home.complete.description1" | markdownify }}
                </p>
                <p class="lead">
                    {{ i18n "home.complete.description2" | markdownify }}
                </p>
            </div>

            <div class="col-md-5 align-self-center">
                <div class="d-flex align-items-center mb-2 border rounded p-3">
                    <div class="flex-shrink-0 fs-2 text-info rounded-pill ps-1">
                        {{ partial "icon.html" "basket3" }}
                    </div>
                    <p class="flex-grow-1 ms-3 mb-0">
                        {{ i18n "home.extensions.shop" | markdownify }}
                    </p>
                </div>

                <div class="d-flex align-items-center mb-2 border rounded p-3">
                    <div class="flex-shrink-0 fs-2 text-warning rounded-pill ps-1">
                        {{ partial "icon.html" "trophy" }}
                    </div>
                    <p class="flex-grow-1 ms-3 mb-0">
                        {{ i18n "home.extensions.vote" | markdownify }}
                    </p>
                </div>

                <div class="d-flex align-items-center mb-2 border rounded p-3">
                    <div class="flex-shrink-0 fs-2 text-success rounded-pill ps-1">
                        {{ partial "icon.html" "chat-heart" }}
                    </div>
                    <p class="flex-grow-1 ms-3 mb-0">
                        {{ i18n "home.extensions.forum" | markdownify }}
                    </p>
                </div>

                <div class="d-flex align-items-center mb-2 border rounded p-3">
                    <div class="flex-shrink-0 fs-2 text-primary rounded-pill ps-1">
                        {{ partial "icon.html" "grid" }}
                    </div>
                    <p class="flex-grow-1 ms-3 mb-0">
                        {{ i18n "home.extensions.more" | markdownify }}
                    </p>
                </div>

                <div class="d-flex align-items-center mb-2 border rounded p-3">
                    <div class="flex-shrink-0 fs-2 text-danger rounded-pill ps-1">
                        {{ partial "icon.html" "droplet" }}
                    </div>
                    <p class="flex-grow-1 ms-3 mb-0">
                        {{ i18n "home.extensions.themes" | markdownify }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-body">
    <svg viewBox="0 0 1000 70" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="section-waves">
        <path d="M439.407,12.801c-80.921,15.363 -167.082,18.455 -248.277,2.849c-80.448,-15.463 -119.602,-14.391 -191.13,-14.391l0,68.741l1000,0l0,-68.741c-93.992,-8.581 -127.476,35.688 -278.561,19.139c-151.084,-16.548 -201.114,-22.958 -282.035,-7.597l0.003,0Z"></path>
    </svg>
</div>

<section id="community" class="content bg-body-secondary">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-md-5 align-self-center">
                <img src="{{ absURL "assets/img/theme.png" }}" alt="Theme" class="img-fluid image-3d rounded-3" width="700" height="474">
            </div>

            <div class="col-md-6">
                <div class="d-inline-block fs-1 lh-1 text-success bg-success bg-opacity-25 p-4 rounded-pill">
                    {{ partial "icon.html" "person-hearts" }}
                </div>

                <h2 class="display-6 my-3 fw-semibold">
                    {{ i18n "home.community.title" }}
                </h2>

                <p class="lead">
                    {{ i18n "home.community.description1" | markdownify }}
                </p>
                <p class="lead">
                    {{ i18n "home.community.description2"| markdownify }}
                </p>
            </div>
        </div>
    </div>
</section>

<div class="bg-body">
    <svg viewBox="0 0 1000 70" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="section-waves-reversed">
        <path d="M430.384,47.909c-80.92,-12.748 -115.959,-16.648 -197.154,-3.698c-80.447,12.831 -161.702,12.831 -233.23,12.831l0,-57.042l1000,0l0,57.042c-93.992,7.12 -125.071,-27.464 -276.155,-13.732c-151.084,13.732 -212.54,17.346 -293.461,4.599Z"></path>
    </svg>
</div>

<section id="games" class="content">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-md-6">
                <div class="d-inline-block fs-1 lh-1 text-danger bg-danger bg-opacity-25 p-4 rounded-pill">
                    {{ partial "icon.html" "controller" }}
                </div>

                <h2 class="display-6 my-3 fw-semibold">
                    {{ i18n "home.games.title" }}
                </h2>

                <p class="lead">
                    {{ i18n "home.games.description1" | markdownify }}
                </p>
                <p class="lead">
                    {{ i18n "home.games.description2" | markdownify }}
                </p>
            </div>

            <div class="col-md-5 align-self-center">
                <div class="row gy-4 justify-content-around">
                    {{ range .Site.Data.games.list }}
                    <div class="col-4 text-center py-md-3">
                        <img src="{{ absURL .img }}" alt="{{ .name }}" title="{{ .name }}" data-bs-toggle="tooltip" class="rounded-1" height="75" width="75">
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-body">
    <svg viewBox="0 0 1000 70" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="section-waves">
        <path d="M439.407,12.801c-80.921,15.363 -167.082,18.455 -248.277,2.849c-80.448,-15.463 -119.602,-14.391 -191.13,-14.391l0,68.741l1000,0l0,-68.741c-93.992,-8.581 -127.476,35.688 -278.561,19.139c-151.084,-16.548 -201.114,-22.958 -282.035,-7.597l0.003,0Z"></path>
    </svg>
</div>

<svg viewBox="0 0 1000 70" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="section-waves">
    <path d="M439.407,12.801c-80.921,15.363 -167.082,18.455 -248.277,2.849c-80.448,-15.463 -119.602,-14.391 -191.13,-14.391l0,68.741l1000,0l0,-68.741c-93.992,-8.581 -127.476,35.688 -278.561,19.139c-151.084,-16.548 -201.114,-22.958 -282.035,-7.597l0.003,0Z"></path>
</svg>

<section id="trusted" class="content bg-body-secondary">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-md-4 offset-md-1 align-self-center">
                <img src="{{ absURL "assets/svg/map.svg" }}" alt="World" class="img-fluid" height="500" width="500">
            </div>

            <div class="col-md-6">
                <div class="d-inline-block fs-1 lh-1 text-info bg-info bg-opacity-25 p-4 rounded-pill">
                    {{ partial "icon.html" "globe-americas" }}
                </div>

                <h2 class="display-6 my-3 fw-semibold">
                    {{ i18n "home.trusted.title" }}
                </h2>

                <p class="lead">
                    {{ i18n "home.trusted.description1" | markdownify }}
                </p>
                <p class="lead">
                    {{ i18n "home.trusted.description2" | markdownify }}
                </p>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
{{ end }}
